<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elliott</title>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js" %>
</head>
<body>
  <div data-role="page">
  <%= yield %>
  </div>
</body>
</html>
